
<hr>
<div class="color1">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<div class="container">
  <div class="row">
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspAdd Course </h1>
    <br>
    <br><form class="form-horizontal" name="course" novalidate>
    <div class="form-group">
      <label for="inputEmail3" class="col-md-4 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Course Name</label>
      <div class="col-sm-5">
        <input type="text" name="c2" class="form-control" id="inputEmail3" placeholder="Name" ng-model="cname">

      </div>
    </div>
    <div class="form-group">
      <label for="inpu" class="col-sm-4 control-label">Course id</label>
      <div class="col-sm-5">
        <input type="email" name="id"class="form-control" id="inpu" placeholder="emailid" ng-model="cid">

      </div>
    </div>
    <div class="form-group">
      <label for="inp" class="col-sm-4 control-label">Description</label>
      <div class="col-sm-5">
        <input type="email" name="em"class="form-control" id="inp" placeholder="Course" ng-model="desc">

      </div>
    </div>
    <br><br>
    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="cshow()">Add</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-danger"ng-click="cancel()">Cancel</button>


      </div>
    </div>
  </form>
  </div>
</div>
</div>
</div>
<hr>
